<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SHK_Connect.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
    <applicationSettings>
        <SHK_Connect.My.MySettings>
            <setting name="SHK_Connect_de_shk_connect_shkgh_branchenListeService" serializeAs="String">
                <value>http://shkgh.shk-connect.de/services/Branchenliste</value>
            </setting>
            <setting name="SHK_Connect_de_shk_connect_shkgh1_allgemeineAuskuenfteService" serializeAs="String">
                <value>http://shkgh.shk-connect.de/services/AllgemeineAuskuenfte</value>
            </setting>
            <setting name="SHK_Connect_de_shk_connect_shkgh2_anwenderIndividuelleAuskuenfteService" serializeAs="String">
                <value>http://shkgh.shk-connect.de/services/AnwenderIndividuelleAuskuenfte</value>
            </setting>
        </SHK_Connect.My.MySettings>
    </applicationSettings>
</configuration>
