<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		
	</configSections>
	
 <system.diagnostics>
		<switches>
			<add name="XPO" value="3" />
		</switches>
	</system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HWLKernel" publicKeyToken="82d5316331ab9e2f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraGrid.v11.2" publicKeyToken="B88D1754D700E49A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.14.0" newVersion="11.2.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.RichEdit.v11.2.Core" publicKeyToken="B88D1754D700E49A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.14.0" newVersion="11.2.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Utils.v11.2" publicKeyToken="B88D1754D700E49A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.14.0" newVersion="11.2.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraScheduler.v11.2.Core" publicKeyToken="B88D1754D700E49A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.14.0" newVersion="11.2.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Xpo.v11.2" publicKeyToken="B88D1754D700E49A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.14.0" newVersion="11.2.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraLayout.v11.2" publicKeyToken="B88D1754D700E49A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.14.0" newVersion="11.2.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Data.v11.2" publicKeyToken="B88D1754D700E49A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.14.0" newVersion="11.2.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Charts.v11.2.Core" publicKeyToken="B88D1754D700E49A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.14.0" newVersion="11.2.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraBars.v11.2" publicKeyToken="B88D1754D700E49A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.14.0" newVersion="11.2.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Printing.v11.2.Core" publicKeyToken="B88D1754D700E49A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.14.0" newVersion="11.2.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.PivotGrid.v11.2.Core" publicKeyToken="B88D1754D700E49A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.14.0" newVersion="11.2.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraCharts.v11.2" publicKeyToken="B88D1754D700E49A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.14.0" newVersion="11.2.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraNavBar.v11.2" publicKeyToken="B88D1754D700E49A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.14.0" newVersion="11.2.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraReports.v11.2" publicKeyToken="B88D1754D700E49A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.14.0" newVersion="11.2.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraPivotGrid.v11.2" publicKeyToken="B88D1754D700E49A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.14.0" newVersion="11.2.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraEditors.v11.2" publicKeyToken="B88D1754D700E49A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.14.0" newVersion="11.2.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
